.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #eee;
}

.pagination .active {
    background-color: #333;
    color: #fff;
}